* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #ffff;
}

.heading {
    color: #000000;
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;

}

h2 {
    padding-top: 25px;
}

.container {
    padding: 2% 3%;
}

#testimonial_1 {
    background-color: #3EC1D3;
    color: #ffff;
}

#testimonial_2 {
    background-color: #F6F7D7;
    color: #000000;
}

#testimonial_3 {
    background-color: #FF9A00;
    color: #000000;
}

#testimonial_4 {
    background-color: #FF165D;
    color: #ffff;
}

.grid_item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 25px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 4px solid #ffff;
}


/* desktop design */
@media (min-width: 576px) {
    .container {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
        /* set margin 0px top & bottom, automatically centers margin */
    }

    .container,
    #main,
    #top,
    #bottom {
        display: flex;
    }

    #main {
        flex-direction: column;
    }

    #top {
        flex-basis: 50%;
    }

    #bottom {
        flex-basis: 50%;
    }

    #main .grid_item {
        margin-right: 20px;
    }

    #testimonial_1,
    #testimonial_4 {
        flex-basis: 65%;
    }

    #testimonial_2,
    #testimonial_3 {
        flex-basis: 35%;
    }

}